# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables
*.tfvars
*.tfvars.json

# Plan files
*.tfplan
plan.out

# CLI config
.terraformrc
terraform.rc

# Editor and OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
